@import url('https://fonts.googleapis.com/css2?family=Combo&family=Merriweather:wght@300&family=Qwitcher+Grypen:wght@700&family=Roboto+Condensed:wght@300&display=swap');

body {
    font-family: 'Merriweather', serif;
    font-size:40px;
 
}

.imgportadapeli {
  height: 400px; width: 250px;
}

.imgdelapelicula {
  height: 400px; width: 425px;
}

img {
    height: 400px; width: 250px;
  }

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.bolder {
    font-weight: bold;
}




.row > p > a{
    text-decoration: none;
    color: black;
}

.row > p > a:hover{
    color: white;
}
/*responsive*/
@media(max-width: 767px){
  .row{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .row{
    width: 100%;
}
}