@import url('https://fonts.googleapis.com/css2?family=Combo&family=Merriweather:wght@300&family=Qwitcher+Grypen:wght@700&family=Roboto+Condensed:wght@300&display=swap');

body {
    font-family: 'Merriweather', serif;
    font-size:40px;
   
}
.imgportada {
    height: 450px; width: 350px;
  }
  #visor{width:800px; height:600px; margin:0 auto;}
  #botones{width:500px; height:60px;  margin:0 auto; text-align: center;justify-content: center;}
  #cajamarcador{width:500px; height:60px;  margin:0 auto; font-size: 4em;}
  .separador{clear:both;}
  img {width:800px; height:600px;}
  .imgflecha {width:60px; height:40px;}


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.bolder {
    font-weight: bold;
}




.row > p > a{
    text-decoration: none;
    color: black;
}

.row > p > a:hover{
    color: white;
}
/*responsive*/
@media(max-width: 767px){
  .row{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .row{
    width: 100%;
}
}